* {
    padding: 0;
    margin: 0;
}

.header {
    background-color: var(--secundary);
    color: #fff;
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}