* {
  padding: 0;
  margin: 0;
}

:root {
  --principal: #001a1a;
  --secundary: #004d4d;
}

.main {
  background-color: var(--principal);
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.main-container {
  background-color: #ffffff;
  width: 40rem;
  height: 33.1rem;
  border-radius: 20px;
  display: flex;
}

.form-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.list-container {
  width: 50%;
  height: 100%;
}

.list-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}